@page
@model shozi_web_1.Views.Home.About_UsModel
@{
}
<main>
    <div class="container">
        <section class="abuout">
            
            <h1> Shehroz Ali</h1>
            <h4> Email 21101001-116@uskt.edu.pk</h4>
            <h4>
                Phone Num 02346565764868
            </h4>
            
        </section>
    </div>
</main>